@import "tailwindcss";

@theme {
    --font-sans: "Lora", Georgia, serif;
    --font-display: "Poppins", Arial, sans-serif;

    /* Main Colors */
    --color-dark: #141413;
    --color-light: #faf9f5;
    --color-mid-gray: #b0aea5;
    --color-light-gray: #e8e6dc;

    /* Accent Colors */
    --color-orange: #d97757;
    --color-blue: #6a9bcc;
    --color-green: #788c5d;
}
